extends layout

block content
    .block
        .columns.is-mobile.is-centered
            .column.is-half.has-text-centered
                h1.title.is-1= spacer
                h4.title.is-4= message
                h5.title.is-5= error.status
