extends layout

block content
    .block
        .columns.is-mobile.is-centered
            .column.is-half.has-text-centered
                h1.title.is-1= spacer
                p Welcome to LongAssLink.
                p You shouldn't be able to get to this page :thinking:, how odd.