doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/bulma.min.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        .container
            .block
                .columns.is-mobile.is-centered
                    .column.is-half.has-text-centered
                        h1.title.is-1= spacer
                        h1.title.is-1 LongAssLink
                        code.is-primary Link Lengthener
            block content